<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">Proyektlər</h3>
        <div class="table-data__tool">
            <div class="table-data__tool-left">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" (click)="first($event)" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li [class.active]="(page + 1) == current_page" class="page-item" *ngFor="let page of pages">
                            <a class="page-link" (click)="updatePage((page + 1), $event)" href="#">{{page + 1}}</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" (click)="last($event)" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="table-data__tool-right">
                <button class="au-btn au-btn-icon au-btn--green au-btn--small" (click)="create()">
                    <i class="zmdi zmdi-plus"></i>Proyekt</button>
            </div>
        </div>
        
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th>
                            No
                        </th>
                        <th>Adı</th>
                        <th>Qiymət</th>
                        <th>Otaq</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-shadow"  *ngFor="let project of projects">

                        <td>{{project['project_id']}}</td>
                        <td>
                            {{project['project_title']}}
                        </td>
                        <td class="desc">{{project['project_price']}}</td>
                        <td>
                            <span class="status--process">{{project['project_rooms']}}</span>
                        </td>
                        <td>
                            <div class="table-data-feature">
                                <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                    <i class="zmdi zmdi-info"></i>
                                </button>
                                <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                    <i class="zmdi zmdi-edit"></i>
                                </button>
                                <button (click)="delete(project['project_id'])" class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                                
                            </div>
                        </td>
                    </tr>
                    <tr class="spacer"></tr>
                </tbody>
            </table>
            
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>